{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container d-flex flex-row-reverse">
  <a href="{% url 'create_password' %}" class="btn btn-warning">
    <i class="bi bi-plus-circle-fill"></i> Create new password
  </a>
</div>
<div class="container ma-1">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-item nav-link active"
        id="nav-home-tab"
        data-toggle="tab"
        href="#nav-home"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        ><i class="bi bi-people-fill"></i> Shared whit me</a
      >
      <a
        class="nav-item nav-link"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#nav-profile"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        ><i class="bi bi-key"></i> My passwords</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <div class="container my-3 p-0 table-responsive">
        <table class="table table-striped pa-2 ma-2">
          <caption>List of passwords shared with me</caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Password</th>
              <th scope="col">Created</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for pass in received_list %}
            <tr>
              <td>{{ pass.name }}</td>
              <td id="password-{{ pass.id }}">{{ pass.password }}</td>
              <td>{{ pass.user }} <br /><small>{{ pass.dateSaved }}</small></td>
              <td>
                <a
                  href="#"
                  class="btn btn-link btn-sm toggle-password"
                  data-pass-id="{{ pass.id }}"
                  title="Watch the pass"
                >
                  <i
                    class="bi bi-eye"
                    id="icon-{{ pass.id }}"
                    data-pass-id="{{ pass.id }}"
                  ></i>
                </a>
                <a href="{% url 'password_detail' pass.id %}" class="btn btn-link btn-sm" title="See details"
                  ><i class="bi bi-filetype-key"></i
                ></a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="4" class="text-center">No passwords found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      <div class="container my-3 p-0 table-responsive">
        <table class="table table-striped">
          <caption>List of passwords owned by me</caption>
          <thead class="table-dark">
            <tr>
              <th>Shared</th>
              <th>With</th>
              <th>Name</th>
              <th>Password</th>
              <th>Created</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for pass in owned_list %}
            <tr>
              <td>
                <span>
                  {% if pass.shared %}
                  <i class="bi bi-people-fill icon-shared" title="Shared"></i>
                  {% else %}
                  <i
                    class="bi bi-person-slash icon-not-shared"
                    title="Not shared"
                  ></i>
                  {% endif %}
                </span>
              </td>
              <td>
                <small>
                  {% if pass.sharedWith.all %}
                      {% for user in pass.sharedWith.all %}
                          <span>{{ user.username }}</span><br>
                      {% endfor %}
                  {% else %}
                      <span>-</span>
                  {% endif %}
              </small>
              </td>
              <td>{{ pass.name }}</td>
              <td id="password-{{ pass.id }}">{{ pass.password }}</td>
              <td><small>{{ pass.dateSaved }}</small></td>
              <td>
                <a
                  href="#"
                  class="btn btn-link btn-sm toggle-password"
                  data-pass-id="{{ pass.id }}"
                  title="Watch the pass"
                >
                  <i
                    class="bi bi-eye"
                    id="icon-{{ pass.id }}"
                    data-pass-id="{{ pass.id }}"
                  ></i>
                </a>
                <a href="{% url 'password_edit' pass.id %}" class="btn btn-link btn-sm" title="Edit"
                  ><i class="bi bi-pencil-square"></i
                ></a>
                <a href="#" class="btn btn-link btn-sm" title="Delete"
                  ><i class="bi bi-trash3-fill"></i
                ></a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center">No passwords found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  const passwords = {};
  document.querySelectorAll("[id^='password-']").forEach((item) => {
    const passId = item.id.split("-")[1];
    passwords[passId] = item.textContent;
    item.textContent = "********";
  });

  document.querySelectorAll(".toggle-password").forEach((item) => {
    item.addEventListener("click", (event) => {
      const passId = event.currentTarget.dataset.passId;
      const passwordField = document.getElementById(`password-${passId}`);
      const icon = document.getElementById(`icon-${passId}`);

      if (passwordField.textContent === "********") {
        alert("Password: " + passwords[passId]);
      }
    });
  });
</script>
{% endblock %}
