{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mb-4">
    <h3>
    <a
      href="{% url 'passwords' %}"
      title="Home"
      class="text-decoration-none text-dark"
    >
      <i class="bi bi-arrow-90deg-left text-primary mr-2"></i> 
    </a>
  Password detail</h3>
  <div class="card">
    <div class="card-header">{{ password.name }}</div>
    <div class="card-body">
      <p class="card-text">
        <p class="text-muted">
            <strong>Password details:</strong>
          </p>
        <strong>Owner:</strong> {{ password.user }}<br />
        <strong>Password:</strong>
        <span id="password-{{ password.id }}">{{ password.password }}</span
        ><br />
        <strong>URL:</strong> <a href="{{ password.url }}" target="_blank">{{password.url}}</a><br />
        <hr>
        <p class="text-muted">
          <strong>Sharing details:</strong>
        </p>
        <strong>Shared:</strong> {% if password.shared %}
        <i class="bi bi-people-fill icon-shared" title="Shared"></i> Yes
        {% else %}
        <i class="bi bi-person-slash icon-not-shared" title="Not shared"></i>
        {% endif %}
        <br />
        {% if password.shared %}
        <strong>Shared with:</strong>
        <div class="container px-3 my-0">
        <ul class="list-group">
          {% for user in password.sharedWith.all %}
          <li style="list-style: none;" >{{ user.username }}</li>
          {% endfor %}
        </ul></div>
        {% endif %}
        <hr>
        <p class="text-muted">
          <strong>Additional details:</strong>
        </p>
        <strong>Date Saved:</strong> {{ password.dateSaved }}<br />
      </p>
    </div>
  </div>
</div>
{% endblock %}
